{% extends 'asignatura.djhtml' %}

{% block tab_main %}


<div class="row">

  <div class="col-sm-6 col-sm-offset-3 media">
    <div class="panel panel-default">
      <!-- Default panel contents -->


      <!-- Table --> 
      <table class="table">
	<thead>
	  <th>Prueba</th>
	  <th>Nota / M&aacute;ximo</th>
	</thead>
	{% for c in asignatura.data.notas %}
	

	<tr class="media-body">
	  <td>
	    <h4 class="media-heading">
	      {% if c.entrega %}
	      <a href="{% url '/asignatura/entregas.html' %}">{{c.nombre}}</a>
	      {% else %}
	      {{c.nombre}}
	      {% endif %}
	    </h4>
	  </td>
	  <td>{{c.nota}} / {{c.max}}</td>
	</tr>
	
	{% endfor %}
      </table>
    </div>

  </div>


</div>
{% endblock %}
