{# -*- engine:django -*- #}
{% extends 'asignatura.djhtml' %}

{% block body-class %}extras{% endblock %}

{% block tab_main %}

<div class="row">
    <div class="drender" data-var="notifications.asignaturas.0.menu-alert.extra" data-template="alert"></div>

<div class="col-lg-6">
    <div class="input-group search-input">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
<div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-th-large"></span></button>
	<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-th"></span></button>
	<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-th-list"></span></button>
      </span>

      <span class="input-group-btn">
	<button class="btn btn-default pull-right" type="button"><span class="glyphicon glyphicon-cloud-upload"></span></button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div>
 </div>
<div class="row media-nopadding filterable espacio">

 {% for c in asignatura.data.extra %}
	<div class="col-sm-6 media extras" data-var="notifications.asignaturas.0.data.extra.{{forloop.counter0}}">
	    <div class="pull-left">
		<a href="#" class="pull-left">
		    <img src="{% static c.img %}" class="media-object"/>
		</a>
	    </div>
	    <div class="media-body pull-left">
		<h4 class="media-heading">
		    {{c.nombre}} 
		</h4>
		<div class="text-muted">{{c.tamano}} | {{c.fecha}}</div>
		<div class="text-muted">{{c.autor}} | Votos: <tx class="text-success"><b>+{{c.pos}}</b></tx> / <tx class="text-danger"><b>-{{c.neg}}</b></tx></div>
	    </div>
	    <div class="pull-right btn-group" role="group">
		<button type="button" class="btn btn-default">
		    <span class="glyphicon glyphicon-thumbs-up"></span>
		</button>
		<button type="button" class="btn btn-default">
		    <span class="glyphicon glyphicon-thumbs-down"></span>
		</button>
		<button type="button" class="btn btn-default btn-save">
		    <span class="glyphicon glyphicon-bookmark"></span>
		</button>
		<button type="button" class="btn btn-default">
		    <span class="glyphicon glyphicon-download-alt"></span>
		</button>
	    </div>
	</div>
    {% endfor %}


</div>
{% endblock %}
