<!-- django -->
{% extends 'asignatura.djhtml' %}
{% block scripts %}
<script>
$("#main_dudas").addClass("active");
</script>
{% endblock %}
{% block tab_main %}
<div class="row">
<div class="col-lg-6">
    <div class="input-group search-input">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div>

<div class="row media-nopadding filterable"> 


 {% for c in asignatura.data.dudas %}
	<div class="col-sm-6 media media-middle">
	    <div class="pull-left">
		<a href="#" class="pull-left">
		    <img src="{% static c.img %}" class="media-object"/>
		</a>
	    </div>
	    <div class="media-body pull-left">
		<h4 class="media-heading">
		  <a href="#">{{c.titulo}} </a>
		</h4>
		<ul class="list-unstyled bar-sep">
		    <li>{{c.autor}} | {{c.fecha}} | {{c.respuestas|length}} respuestas</li>
		</ul>
	    </div>
	    <div class="pull-right btn-group" role="group">
		<button type="button" class="btn btn-default">
		    <span class="glyphicon glyphicon-heart"></span>
		</button>
	    </div>
	</div>
    {% endfor %}


</div>
{% endblock %}
