{# -*- engine:django -*- #}
{% extends 'perfil.djhtml' %}
{% block scripts %}
    <script>
     $("#main_dudas").addClass("active");
    </script>
{% endblock %}
{% block profile-main %}
<ol class="breadcrumb">
    <li><a href="/perfil/dudas.html">Dudas</a></li>
    <li class="active" data-var="notifications.asignaturas.0.data.dudas[{duda_idx}].titulo"></li>
</ol>
    <div class="drender" data-template="dudas_detail" data-var="notifications.asignaturas.0.data.dudas[{duda_idx}]"></div>
{% endblock %}
